.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: no-repeat center/cover url(../images/cover.jpg);
    height: 100vh;
}

/*.btn-menu{
    width: 41.6px;
    height: 44px;
    background-color: var(--bluem);
    border: 0;

}*/
.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "Roboto Slab", serif;        
    color: var(--white);
    font-size: 20px;
}

.subtitle{
    font-family: "Roboto Slab", serif;
    color: var(--white);
    text-align: center;
    font-weight: 250;
    font-style: normal;
    font-size: 16px;
    margin-top: 10%;
}
/*
.btn-down{
    background-color: var(--white);
    border-radius: 50%;
    border: 0cap;
    margin-top: 40%;
    padding: 25px;  
}
*/


@media all and (min-width: 768px) {
    .container{
        font-size: 30px;     
     }
     .subtitle{
        margin-top: 5px;
        font-size: 24px;  
     }
    }
    
@media all and (min-width: 1024px) {
     .container{
        font-size: 50px;   
     }       
    }