.section-reasons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    line-height: 1.5;
    padding: 30px 15px;
    background-color: var(--iceblue);


}

.title-reasons{

}

.btn-more{
    background-color: var(--orange);
    width: 184px;
    height: 45px;
    border-radius: 22.5px;
    padding: 7px;    
    margin: 20px;
    border: 0cap;
    margin: auto;
    margin-top: 41px;
    margin-bottom: 60px;
}
.more{
    text-decoration: none;
    color: var(--white);
    font-size: 20px;
}