<footer class="footer">
    <nav class="links-footer">
         <a href="https://adalab.es/" class="nav-link">ARTICLES</a>
         <a href="https://adalab.es/" class="nav-link">BOOKS</a>
         <a href="https://adalab.es/" class="nav-link">EVENTS</a>
         <a href="https://adalab.es/" class="nav-link">REASONS</a>
         <a href="https://adalab.es/" class="nav-link">TIPS</a>
    </nav>

    <nav class="links-redes">
        <a href="https://adalab.es/" class="nav-link">TWITTER</a>
        <a href="https://adalab.es/" class="nav-link">INSTAGRAM</a>
        <a href="https://adalab.es/" class="nav-link">MASTODON.SOCIAL</a>
    </nav>
    
    <article class="components">
        <span>©2022</span>        
        <p>we <span class="heart">❤︎</span> components</p>
    </article>
</footer>