<section class="section-reasons">

    <h2 class="title-reasons">3 Reasons To Purchase</h2>

    <article class="section_article">        
        <h3>Ut sed metus</h3>
        <p>Lorem ipsum dolor sit amet, consecteur.</p>
    </article>  
    <article class="section_article">
        <h3>Curabitur ac erat</h3>
        <p>Mauris mattis urna quis lorem molestie.</p>
    </article> 
    <article class="section_article">
        <h3>Morbi dictum</h3>
        <p>Aliquam in dolor et dolor tincidunt.</p>
    </article> 

    <button class="button-more">
        <a class="link-button" href="https://adalab.es/" target="_blank">More reasons</a></button>
</section>