<section class="section-reasons" id="reasons">

    <article class="section-reasons__box box1">
        <h2 class="title-reasons">3 Reasons To Purchase</h3>
    </article>
    <article class="section-reasons__box box2">
        <h3 class="section-reasons__subtitle">Ut sed metus</h3>
        <p class="section-reasons__text">Lorem ipsum dolor sit amet, consecteur.</p>
    </article>
    <article class="section-reasons__box box3">
        <h3 class="section-reasons__subtitle">Curabitur ac erat</h3>
        <p class="section-reasons__text">Mauris mattis urna quis lorem molestie.</p>
    </article>
    <article class="section-reasons__box box4">
        <h3 class="section-reasons__subtitle">Morbi dictum</h3>
        <p class="section-reasons__text">Aliquam in dolor et dolor tincidunt.</p>
    </article>
    <article class="section-reasons__box box5">
        <button class="button-more">
            <a class="link-button" href="https://adalab.es/" target="_blank">More reasons</a></button>
    </article>
</section>